/**
  * Local Variables
  *
  * $arrow_hypotenuse_to_side_ratio:
  * The $arrow_hypotenuse_to_side_ratio is important and should not be changed.
  * In order to get an arrow, we are currently hacking it to be a square rotated
  * at a 45 degree angle, and cut off via parent container overflow. Because we
  * can only control the height/width of a box, setting the size of the arrow
  * becomes difficult when it is rotated (Because the diagnol hypotenuse within
  * a box is longer than its sides). To fix this, we can instead take the size
  * which would be the hypotenuse and convert that to be the correct side
  * length for the box. Since we are dealing with equal length sides, the .707
  * will be consistent enough for that conversion.
  */

@mixin popoverjs-arrows($arrow_width, $arrow_middle) {
  $arrow_hypotenuse_to_side_ratio: .707;
  $arrow_side: $arrow_width * $arrow_hypotenuse_to_side_ratio;

  & > .popoverjs-arrow {
    overflow: hidden;
    position: absolute;
    z-index: 5;
  }

  & > .popoverjs-arrow:after {
    content: "";
    position: absolute;
    width: $arrow_side;
    height: $arrow_side;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 50%;
    left: 50%;
  }

  &.popoverjs--popover-primary-bottom > .popoverjs-arrow,
  &.popoverjs--popover-primary-top > .popoverjs-arrow {
    left: -$arrow_middle ;
    height: $arrow_middle;
    width: $arrow_width;
  }

  &.popoverjs--popover-primary-bottom > .popoverjs-arrow {
    bottom: auto;
    top: -$arrow_middle - 1;

    &:after {
      margin-top: -$arrow_middle / 2;
    }
  }

  &.popoverjs--popover-primary-top > .popoverjs-arrow {
    bottom: -$arrow_middle - 1;
    top: auto;

    &:after {
      margin-top: $arrow_middle / 2;
    }
  }

  &.popoverjs--popover-primary-left > .popoverjs-arrow,
  &.popoverjs--popover-primary-right > .popoverjs-arrow {
    bottom: -$arrow_middle;
    height: $arrow_width;
    width: $arrow_middle;
  }

  &.popoverjs--popover-primary-right > .popoverjs-arrow {
    left: -$arrow_middle - 1;
    right: auto;

    &:after {
      margin-left: -$arrow_middle / 2;
    }
  }

  &.popoverjs--popover-primary-left > .popoverjs-arrow {
    left: auto;
    right: -$arrow_middle - 1;

    &:after {
      margin-left: $arrow_middle / 2;
    }
  }
}
