@import '_mixin';

.popoverjs {
  height: 1px;
  pointer-events: all;
  position: absolute;
  visibility: hidden;
  width: 1px;

  &.popoverjs--is-visible {
    visibility: visible;
  }

  &-arrow:after {
    background-color: #ffffff;
  }

  &-content {
    background-color: white;
    box-sizing: border-box;
    position: absolute;
  }

  &--detached-container {
    position: absolute;
    pointer-events: none;
  }

  &--wrapper {
    display: inline-block;
    position: relative;
  }
}

.popoverjs--default {
  @include popoverjs();
}
