@import '_mixin';

.popoverjs {
  height: 1px;
  overflow: hidden;
  pointer-events: all;
  position: absolute;
  visibility: hidden;
  width: 1px;
  z-index: 999;

  &.popoverjs--is-open {
    overflow: visible;
  }

  &.popoverjs--is-visible {
    visibility: visible;
  }

  &:not(.popoverjs--is-visible) * {
    pointer-events: none;
  }

  &-arrow:after {
    background-color: #ffffff;
  }

  &-content {
    background-color: white;
    box-sizing: border-box;
    position: absolute;
  }

  &--detached-container {
    position: absolute;
    pointer-events: none;
  }

  &--wrapper {
    display: inline-block;
    pointer-events: none;
    position: relative;

    > * {
      pointer-events: all;
    }
  }

  &--expanded-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.popoverjs--default {
  @include popoverjs();
}
