@mixin popoverjs-positioning($attachment_margin, $arrow_side_offset, $content_offset, $arrow_middle) {
  $content_arrow_offset: $arrow_middle + 1;

  // Attachment Positioning
  &.popoverjs--attachment-primary-bottom {
    bottom: $attachment_margin;
  }
  &.popoverjs--attachment-primary-top {
    top: $attachment_margin;
  }
  &.popoverjs--attachment-primary-right {
    right: $attachment_margin;
  }
  &.popoverjs--attachment-primary-left {
    left: $attachment_margin;
  }

  &.popoverjs--attachment-secondary-bottom {
    bottom: $arrow_side_offset;
  }
  &.popoverjs--attachment-secondary-top {
    top: $arrow_side_offset;
  }
  &.popoverjs--attachment-secondary-right {
    right: $arrow_side_offset;
  }
  &.popoverjs--attachment-secondary-left {
    left: $arrow_side_offset;
  }

  &.popoverjs--attachment-primary-top.popoverjs--attachment-secondary-middle,
  &.popoverjs--attachment-primary-bottom.popoverjs--attachment-secondary-middle,
  &.popoverjs--attachment-primary-top.popoverjs--attachment-secondary-center,
  &.popoverjs--attachment-primary-bottom.popoverjs--attachment-secondary-center {
    left: 50%;
  }
  &.popoverjs--attachment-primary-left.popoverjs--attachment-secondary-middle,
  &.popoverjs--attachment-primary-right.popoverjs--attachment-secondary-middle,
  &.popoverjs--attachment-primary-left.popoverjs--attachment-secondary-center,
  &.popoverjs--attachment-primary-right.popoverjs--attachment-secondary-center {
    top: 50%;
  }

  // Popover Anchor Positioning
  &.popoverjs--popover-primary-bottom > .popoverjs-content {
    bottom: $content_arrow_offset;
  }
  &.popoverjs--popover-primary-top > .popoverjs-content {
    top: $content_arrow_offset;
  }
  &.popoverjs--popover-primary-right > .popoverjs-content {
    right: $content_arrow_offset;
  }
  &.popoverjs--popover-primary-left > .popoverjs-content {
    left: $content_arrow_offset;
  }

  &.popoverjs--popover-secondary-bottom > .popoverjs-content {
    margin-top: $content_offset;
    transform: translateY(-100%);
  }
  &.popoverjs--popover-secondary-top > .popoverjs-content {
    margin-top: -$content_offset;
    transform: translateY(0%);
  }
  &.popoverjs--popover-secondary-right > .popoverjs-content {
    right: -$content_offset;
  }
  &.popoverjs--popover-secondary-left > .popoverjs-content {
    left: -$content_offset;
  }

  &.popoverjs--popover-primary-bottom.popoverjs--popover-secondary-middle > .popoverjs-content,
  &.popoverjs--popover-primary-top.popoverjs--popover-secondary-middle > .popoverjs-content,
  &.popoverjs--popover-primary-bottom.popoverjs--popover-secondary-center > .popoverjs-content,
  &.popoverjs--popover-primary-top.popoverjs--popover-secondary-center > .popoverjs-content {
    left: 0;
    transform: translateX(-50%);
  }

  &.popoverjs--popover-primary-left.popoverjs--popover-secondary-middle > .popoverjs-content,
  &.popoverjs--popover-primary-right.popoverjs--popover-secondary-middle > .popoverjs-content,
  &.popoverjs--popover-primary-left.popoverjs--popover-secondary-center > .popoverjs-content,
  &.popoverjs--popover-primary-right.popoverjs--popover-secondary-center > .popoverjs-content {
    top: 0;
    transform: translateY(-50%);
  }
}
