@import 'variables';
@import 'arrows';
@import 'positioning';

.popoverjs {
  height: 1px;
  opacity: 0;
  pointer-events: all;
  position: absolute;
  transition: visibility 0.275s, opacity 0.275s linear;
  visibility: hidden;
  width: 1px;
  z-index: 15;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &.is-transitionable {
    transition: visibility 0.275s, height 0.2s, width 0.2s, opacity 0.275s;
  }

  &-content {
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
  }

  &--detatched-container {
    position: absolute;
    pointer-events: none;
  }
}
