@import 'mixin';

.popoverjs {
  height: 1px;
  pointer-events: all;
  position: absolute;
  visibility: hidden;
  width: 1px;

  &.is-visible {
    visibility: visible;
  }

  &-arrow:after {
    background-color: #ffffff;
  }

  &-content {
    background-color: white;
    box-sizing: border-box;
    position: absolute;
  }

  &--detached-container {
    position: absolute;
    pointer-events: none;
  }

  &--wrapper {
    display: inline-block;
    position: relative;
  }
}

.popoverjs--default {
  @include popoverjs(16px, 10px, 16px, 0px);
}

.popoverjs.one {
  @include popoverjs(26px, 10px, 16px, 10px);
}

.popoverjs.two {
  @include popoverjs(36px, 10px, 16px, 20px);
}

.popoverjs.three {
  @include popoverjs(46px, 10px, 16px, 30px);
}

.popoverjs.four {
  @include popoverjs(56px, 10px, 16px, 40px);
}

.popoverjs.five {
  @include popoverjs(66px, 10px, 16px, 50px);
}

.popoverjs.six {
  @include popoverjs(76px, 10px, 16px, 60px);
}
