$content_arrow_offset: $arrow_middle + 1;

.popoverjs {
  // Attachment Positioning
  &--attachment-primary-bottom {
    bottom: -1px - $attachment_margin;
  }
  &--attachment-primary-top {
    top: -1px - $attachment_margin;
  }
  &--attachment-primary-right {
    right: -1px - $attachment_margin;
  }
  &--attachment-primary-left {
    left: -1px - $attachment_margin;
  }

  &--attachment-secondary-bottom {
    bottom: $arrow_side_offset;
  }
  &--attachment-secondary-top {
    top: $arrow_side_offset;
  }
  &--attachment-secondary-right {
    right: $arrow_side_offset;
  }
  &--attachment-secondary-left {
    left: $arrow_side_offset;
  }

  &--attachment-primary-top.popoverjs--attachment-secondary-center,
  &--attachment-primary-bottom.popoverjs--attachment-secondary-center {
    left: 50%;
  }
  &--attachment-primary-left.popoverjs--attachment-secondary-center,
  &--attachment-primary-right.popoverjs--attachment-secondary-center {
    top: 50%;
  }

  // Popover Anchor Positioning
  &--popover-primary-bottom > &-content {
    bottom: $content_arrow_offset;
  }
  &--popover-primary-top > &-content {
    top: $content_arrow_offset;
  }
  &--popover-primary-right > &-content {
    right: $content_arrow_offset;
  }
  &--popover-primary-left > &-content {
    left: $content_arrow_offset;
  }

  &--popover-secondary-bottom > &-content {
    margin-top: $content_offset;
    transform: translateY(-100%);
  }
  &--popover-secondary-top > &-content {
    margin-top: -$content_offset;
    transform: translateY(0%);
  }
  &--popover-secondary-right > &-content {
    right: -$content_offset;
  }
  &--popover-secondary-left > &-content {
    left: -$content_offset;
  }

  &--popover-primary-bottom.popoverjs--popover-secondary-center > &-content,
  &--popover-primary-top.popoverjs--popover-secondary-center > &-content {
    left: 0;
    transform: translateX(-50%);
  }

  &--popover-primary-left.popoverjs--popover-secondary-center > &-content,
  &--popover-primary-right.popoverjs--popover-secondary-center > &-content {
    top: 0;
    transform: translateY(-50%);
  }
}
