// Configuration
$arrow_size: 16px;
$arrow_content_offset: 17px;
$arrow_attachment_offset: 30px;

// Immutable Variables
$arrow_middle: $arrow_size / 2;
$arrow_offset: $arrow_middle + $arrow_content_offset;
$content_offset: $arrow_middle + 1;
