// Configuration
$arrow_width: 25px;
$content_offset: 0px;
$arrow_side_offset: 0px;
$attachment_margin: 10px;

// Immutable Variables
$arrow_middle: $arrow_width / 2;
$content_offset: $arrow_middle + $content_offset;
