body {
  background: #EFEFEF;
  margin: 20px;
  padding: 30px;
  position: relative;
}

.trigger {
  background: green;
  height: 30px;
  position: relative;
  margin: 30px;
  width: 100px;
}

.content {
  background: grey;
  height: 90px;
  margin: 5px;
  width: 90px;
}

.container {
  border: 1px solid black;
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.attachment {
  background: #CCC;
  height: 300px;
  margin: 1200px 200px;
  position: relative;
  width: 300px;
}

.popoverjs {
  opacity: 0;
  transition: opacity 0.275s linear, visibility 0.275s linear;
}

.popoverjs.popoverjs--is-visible {
  opacity: 1;
}

.popoverjs.popoverjs--is-constrained {
  opacity: 0;
}

.button {
  position: absolute;
  left: 550px;
  top: 300px;
}
