html, body, #root {
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 30px;
}

.demo-trigger {
  background: #dcdcdc;
  border-radius: 3px;
  padding: 10px;
}

.demo-content {
  padding: 20px;
}

.constraint-element {
  border: 1px dashed red;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  padding: 50px;

  .popoverjs--wrapper {
    margin-top: 200px;
  }
}

.constraint-element-inner {
  height: 5000px;
}

.popoverjs {
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.popoverjs-arrow:after,
.popoverjs-content {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.12), 0 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.popoverjs--is-visible {
  opacity: 1;
}

.popoverjs-content {
  height: 100px;
  width: 100px;
}
